<html>
    <head>
        <title>Restaurant App</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    
    <body>
        <h1>Delete restaurant {{ restaurant.name }}?</h1>

        <form action="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}" method="POST">
            <div>
                <input type="Submit" value="Delete"> <a href="{{ url_for('restaurants') }}">Cancel</a>
            </div>
        </form>
    </body>
</html>